#page-cadastro{
    width: 100vw;
    height: 100vh;
    /* background: rgb(238, 241, 250); */

}

select {
    position: relative;
    padding-top: 8px;

}

select  {
    font-size: 1.4rem;
    color: rgb(158, 155, 155);
}

select  {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font:1.6rem Archivo;

}

select:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}
#page-cadastro main {
    margin: 1.2rem auto;
    width: 90%;
    /* height:100vh; */
}

#page-cadastro .page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-light);
    /* background-color: white; */
}

#page-cadastro .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
    
}

#page-cadastro button {
    padding: 1.8rem;
}

#page-cadastro main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#page-cadastro .total-connections {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-light);
    padding: 10px;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
}

#page-cadastro .container {
    background: white;
    border-radius: 0px;
    padding: 0px;
    /* height: 100vh; */
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
    position: relative;
}

#page-cadastro .page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

#page-cadastro .page-header .top-bar-container a:hover {
   opacity: 0.6;
}

#page-cadastro .page-header .top-bar-container > img {
    height: 3rem;
}

#page-cadastro .page-header .header-content {
    /* width: 90%; */
    margin:0 auto;
    position: relative;
    margin: 3.2rem auto;
    align-items: center;

}

#page-cadastro .header-content strong {
    font: 700 2.6rem Archivo;
    line-height: 4.2rem;
    align-items: center;
    color: var(--color-title-in-primary);
}

#page-cadastro main footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}
#page-cadastro main footer button:hover {
    background: var(--color-secundary-dark);
}


@media(min-width:700px) {
    #page-cadastro {
        max-width: 100vw;
    }
    #page-cadastro main {
        padding: 0.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
    #page-cadastro main footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page-cadastro main footer button {
        width: 20rem;
        margin-top: 0;
    }
   
}
