#page-menu-list {
    width: 100vw;
    height: 100vh;
    background: rgb(238, 241, 250);
}

#page-menu-list .page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-light);
    /* background-color: white; */

}

.all-buttons {
    padding-top: 3rem;
}

#page-menu-list .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
    
}

#page-menu-list .buttons-container {
    display: flex;
    justify-content: center;
    margin: 0.3rem 0;
}

#page-menu-list .buttons-container a {
    width: 100vw;
    height: 4.5rem;
    border-radius: 0rem;
    margin-right: 1.6rem;
    font: 700 1.8rem Archivo;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: rgb(158, 155, 155);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(224,224,224,1);
    box-shadow: 0px 0px 0px 2px rgba(224,224,224,1);

}

#page-menu-list .buttons-container a.study{
    background: white;
}

#page-menu-list .buttons-container a.study:hover {
    background: var(--color-secundary);
    color: var(--color-title-in-primary);

} 

#page-menu-list .total-connections {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-light);
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

#page-menu-list .buttons-container a:first-child {
    margin-right: 0rem;
}

#page-menu-list .container {
        background: white;
        border-radius: 0px;
        padding: 0px;
        /* height: 100vh; */
        -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
        -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
        box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
        position: relative;
    }


 .page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
   opacity: 0.6;
}

#page-menu-list .page-header .top-bar-container > img {
    height: 3rem;
}

.page-header .header-content {
    /* width: 90%; */
    margin:0 auto;
    position: relative;
    margin: 3.2rem auto;
    align-items: center;

}

 .page-header .header-content strong {
    font: 700 2.6rem Archivo;
    line-height: 4.2rem;
    align-items: center;
    color: var(--color-title-in-primary);
}

@media (min-width: 700px) {
    #page-menu-list {
        max-width: 100vw;
        height: 100vh;
    }
    #page-menu-list main {
        padding: 3.2rem 0;
        max-width: 580px;
        margin:0 auto;
    }




}
