#page-app {
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background-image: url("../../teste.jpg")}

 
.logo-container img {
    height: 8rem;
}

.hero-image {
    width: 100%;
    padding: 10px;
    margin-bottom: 4rem;
}

#page-app-content main {
width: 100%;
max-width: 74rem;
border-radius:0.8rem;
margin: -3.2rem auto 1.5rem;
padding-top: 1.3rem;
overflow: hidder;
}

#page-app-content main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

/* #page-app-content main fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-tittle);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
} */

.input-block {
    position: relative;
    padding-top: 8px;

}

.input-block label {
    font-size: 1.4rem;
    color: rgb(158, 155, 155);
}

.input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font:1.6rem Archivo;

}

.input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#page-app  .container {
    background: var(--color-box-base);
    border-radius: 15px;
    padding: 0px;
    /* height: 100vh; */
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.28);
    position: relative;
}


.logo-container {
    text-align: center;
}

.logo-container{
    margin-bottom: 1.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    /* line-height: 4.6rem; */
    /* margin-top: 0rem; */
    align-content: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: .2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 4.5rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 1.8rem Archivo;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    width: 4rem;
}

/* .buttons-container a.study{
    background: var(--color-primary-lighter);
} */

.buttons-container a.botao{
    background: var(--color-secundary);
}

/* .buttons-container a.study:hover{
    background: var(--color-primary-light);
} */

.buttons-container a.botao:hover {
    background: var(--color-secundary-dark);
} 

.buttons-container a img{
    margin-right: 2.4rem;
}

#page-app .total-connections {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-light);
    padding: 10px;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
}

.cadastro{
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-secundary);

}

@media (min-width: 1100px) {
    #page-app-content {
        max-width: 1100px;

        display: grid;
        background: var(--color-box-base);
        grid-template-rows: 70fr 10fr 20fr 1fr;
        grid-template-columns: 50fr 50fr;
        border-radius: 15px;
        height: 80vh;
        width: 90vw;

        grid-template-areas: 
        "hero  logo logo"
        "hero  input input"
        "hero buttons buttons"
        "hero cadastro cadastro"
        "hero total total"

        ;
    }
    .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: center;
        margin: 0;
        height: 12rem;

    }

    .logo-container h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    .logo-container img {
        height: 100%;
        align-items: flex-start;
    }
    
    .hero-image {
        grid-area: hero;
        height: 100%;
        justify-items: center;
        justify-self: end;
        width: 100%;
        background: var(--color-primary-light);
    
    }

    .buttons-container {
        grid-area: buttons;
        /* justify-content: flex-start; */
        align-items: center;
    }

    .buttons-container a{
        font-size: 2.4rem;
    }

    .input-block {
        grid-area: input;
        justify-items: center;
    }

    .total-connections {
        grid-area: total;
        /* justify-self: end; */
     }

    .cadastro {
        grid-area: cadastro;
        justify-items: center;
        align-items: center;
    }
     
    .form {
        padding: 30px;
    }
}


