.cuidador-item {
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 3.2rem;
    overflow: hidden;
}

.cuidador-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.cuidador-item header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%
}

.cuidador-item header div{
    margin-left: 2.4rem;
}

.cuidador-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.cuidador-item header span {
    font-size: 1.6rem;
    display:block;
    margin-top: 0.4rem
}

.cuidador-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-text-base);
}

.cuidador-item footer {
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cuidador-item footer p {
    color: var(--color-text-base);
    font-size: 1.6rem;
    display: block;
}
.cuidador-item footer p strong {
    color: var(--color-primary);
    font-size: 1.6rem;
    display: block;
}

@media(min-width:700px) {

    #page-cuidadores main {
        padding: 0.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }

    .cuidador-item header,
    .cuidador-item footer {
        padding: 3.2rem;
    }
    .cuidador-item > p {
        padding: 0 3.2rem;
    }

    .cuidador-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }
}