:root {
    font-size: 60%;

    --color-background: #003D75;
    --color-background-light: #C7EBFB;
    /* --color-background: #003D75; */
    /* --color-primary-light: #03A8DE; */
    --color-primary-light: #547DE2;
    --color-primary: rgb(1, 124, 165);
    --color-primary-dark: rgb(3, 103, 136);
    --color-primary-darker: rgb(0, 48, 65);
    --color-secundary: #04D361;
    --color-secundary: #EF597A;
    --color-secundary-dark: rgb(223, 54, 90);

    /* --color-secundary-dark: #04BF58; */
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: rgb(238, 241, 250);
    /* background: var(--color-background); */
}

#root {
    display:flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}